body{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
}
.container{
    background-color: bisque;
    width: 300px;
    padding: 2em;
    box-shadow: 0 0 10px gray;
    text-align:center;
}
#input{
    width: 80%;
    height: 20px;
    margin-left: 15px;
}
#btn{
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: greenyellow;
}
#btn:hover{
    cursor: pointer;
    background-color: rgb(150, 238, 150);
}
li{
    list-style: none;
    margin-right: 40px;
}
li:hover{
    cursor: pointer;
}
